/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-abr-2016, 14:24:46
    Author     : este_
*/

.border-background{
    -fx-background-image: url("../images/border.png");
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.close-icon{
    -fx-graphic: url("../images/Close-icon.png");
}

.close-icon:hover{
    -fx-graphic: url("../images/Close-icon-focus.png");
}

.minimize-icon{
    -fx-graphic: url("../images/Minimize-icon.png");
}

.minimize-icon:hover{
    -fx-graphic: url("../images/Minimize-icon-focus.png");
}

.add-icon{
    -fx-graphic: url("../images/add-icon.png");
    -fx-border-color: white;
    -fx-border-radius: 20px;
}

.add-icon:hover{
    -fx-graphic: url("../images/add-icon-focus.png");
    -fx-border-color: gray;
    -fx-border-radius: 20px;
}

.search-icon{
    -fx-graphic: url("../images/search-icon.png");
    -fx-border-color: white;
    -fx-border-radius: 20px;
}

.search-icon:hover{
    -fx-graphic: url("../images/search-icon-focus.png");
    -fx-border-color: gray;
    -fx-border-radius: 20px;
}

.admin-icon{
    -fx-graphic: url("../images/settings-icon.png");
    -fx-border-color: white;
    -fx-border-radius: 20px;
}

.admin-icon:hover{
    -fx-graphic: url("../images/settings-icon-focus.png");
    -fx-border-color: gray;
    -fx-border-radius: 20px;
}

.home-icon{
    -fx-graphic: url("../images/home-icon.png");
}

.home-icon:hover{
    -fx-graphic: url("../images/home-icon-focus.png");
}

.button-select{
    -fx-graphic: url("../images/check-icon.png");
    -fx-background-color:transparent;
    -fx-border-color:gray;
    -fx-border-radius:10px;
    -fx-border-width:1px;
    
}

.button-back{
    -fx-graphic: url("../images/back-icon.png");
    -fx-background-color:transparent;
    -fx-border-color:gray;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 11px;
    -fx-text-fill: white;    
}

.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 11px;
    -fx-text-fill:white;
}

.combo-box .list-view{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius:10px;
    -fx-background-radius: 11px;
    -fx-text-fill: white;  
}

.combo-box .list-view .list-cell{
    -fx-background-color: transparent;
    -fx-text-fill: white;  
}
.combo-box .list-view .list-cell:selected{
    -fx-background-color: transparent;
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-border-radius:10px;
    -fx-background-radius: 11px;
    -fx-text-fill: white;  
}

.save-icon{
    -fx-graphic:url("../images/Save-icon.png");
    -fx-background-color:transparent;
    -fx-border-color:gray;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}

.table-view:row-selection{
    -fx-background-color:transparent;
    -fx-border-color:white;
    -fx-border-radius:5px;
}

.table-view:row-selection .column-header-background{
    -fx-background-color:transparent;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column{
    -fx-background-color:transparent;
    -fx-border-color:white;
    -fx-border-radius: 5 5 0 0;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column .label{
    -fx-text-fill:white;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
     /* The rest is from caspian.css */
     
    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em; /* 1 */
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: white;

}

.table-row-cell{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-border-color: gray;

    
    
}

.table-row-cell:odd{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width:2px;    
}

.build-personalize{
    -fx-graphic:url("../images/Design-icon.png");
    -fx-background-color:transparent;
    -fx-border-color: white;
    -fx-border-radius:10px;
    -fx-text-fill:white;
}

.view-design{
    -fx-graphic:url("../images/List-icon.png");
    -fx-background-color:transparent;
    -fx-border-color: white;
    -fx-border-radius:10px;
    -fx-text-fill:white;
}

.build-make{
    -fx-graphic:url("../images/options-icon.png");
    -fx-background-color:transparent;
    -fx-border-color: white;
    -fx-border-radius:10px;
    -fx-text-fill:white;
}